
<h6 class="mt-2 pb-2 border-bottom">
  <b class="ms-3">
      <i class="uil uil-multiply" style="cursor: pointer;"></i>
     Trainer
    </b>
  </h6>
  <div class="col-md-12">
    <div class="row" align="right">
      <div class="col-md-12" style="display: flex; justify-content: flex-end;">
        <button class="btn btn-fent-cloud" (click)="onAddTrainer()">
          <i class="uil uil-plus"></i>  Add Trainer
        </button>
      </div>
    </div>
  </div>
  <!-- ag-grid -->
<app-data-grid class="ag-theme-alpine" #declaredGrid 
  [tableData]="trainerList" 
  [tableColumns]="declaredTableColumns"
  [actionColumns]="declaredActionColumns" 
  [isEditable]="false" 
  [isSortable]="true" 
  [isFilterable]="false"
  [isColumnFilterable]="false" 
  [isResizable]="false" 
  [isPageable]="true" 
  [defaultPageSize]="12"
  (selectedRows)="selectTrainer($event)" 
  (rowAction)="onRowAction($event)" 
  (actionButton)="onActionButton($event)">
</app-data-grid>
