<div style="margin-left: 5px;" class="row d-flex">
  <h5 class="p-3 mb-2" style="border-bottom: 2px solid rgb(230, 230, 230);">
    <b><span data-toggle="tooltip" title="Close"><i class="uil uil-multiply"></i> &nbsp;</span>General Exam</b>
  </h5>
  <div>
    <form id="MyForm" [formGroup]="form">
      <formly-form [model]="subjectDetails" [fields]="fields" [options]="options" [form]="form"></formly-form>
    </form>
  </div>
</div>
<!-- <div class="col-12 px-4 py-2 border-top" style="position: fixed; bottom: 0;">
  <button class="btn btn-cloud me-2" (click)="onSubmit()">Save</button>
  <button class="btn btn-cloud me-2" type="button" (click)="reset()">Reset</button>
  <button class="btn btn-fent-cloud" (click)="onCancleClick()">Cancel</button>
</div> -->

<div style="margin-left: 5px;" class="row d-flex">
  <h6 class="p-3 mb-2" style="border-bottom: 2px solid rgb(230, 230, 230);"><b> <span data-toggle="tooltip" title="Close"> &nbsp;</span>Add MCQ</b></h6>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Question</th>
          <th>Option A</th>
          <th>Option B</th>
          <th>Option C</th>
          <th>Option D</th>
          <th>Answer</th>
          <th>Marks</th>
          <th>MCQ Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mcq of mcqDetails">
          <td>{{ mcq.question }}</td>
          <td>{{ mcq.optionA }}</td>
          <td>{{ mcq.optionB }}</td>
          <td>{{ mcq.optionC }}</td>
          <td>{{ mcq.optionD }}</td>
          <td>{{ mcq.answer }}</td>
          <td>{{ mcq.marks }}</td>
          <td>{{ mcq.mcqStatus }}</td>
        </tr>
      </tbody>
    </table>
    <!-- Button trigger modal for MCQ -->
    <div class="mb-3">
      <button type="button" class="btn btn-cloud me-2 mt-2" data-toggle="modal" data-target="#mcqModal">
        <i class="uil uil-plus"></i>  Add New MCQ
      </button>
    </div>
  </div>
</div>

<!-- Modal for MCQ Details -->
<div class="modal fade" id="mcqModal" tabindex="-1" role="dialog" aria-labelledby="mcqModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="color: #0e0909;">
        <h5 class="modal-title" id="mcqModalTitle">Add MCQ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="mcqForm">
          <div class="form-group">
            <label for="question">Question</label>
            <input type="text" class="form-control" id="question" formControlName="question" placeholder="Enter Question">
            <div *ngIf="mcqForm.get('question').invalid && mcqForm.get('question').touched" class="text-danger">
              Question is required.
            </div>
          </div>
          <div class="form-group">
            <label for="optionA">Option A</label>
            <input type="text" class="form-control" id="optionA" formControlName="optionA" placeholder="Enter Option A">
            <div *ngIf="mcqForm.get('optionA').invalid && mcqForm.get('optionA').touched" class="text-danger">
              Option A is required.
            </div>
          </div>
          <div class="form-group">
            <label for="optionB">Option B</label>
            <input type="text" class="form-control" id="optionB" formControlName="optionB" placeholder="Enter Option B">
            <div *ngIf="mcqForm.get('optionB').invalid && mcqForm.get('optionB').touched" class="text-danger">
              Option B is required.
            </div>
          </div>
          <div class="form-group">
            <label for="optionC">Option C</label>
            <input type="text" class="form-control" id="optionC" formControlName="optionC" placeholder="Enter Option C">
            <div *ngIf="mcqForm.get('optionC').invalid && mcqForm.get('optionC').touched" class="text-danger">
              Option C is required.
            </div>
          </div>
          <div class="form-group">
            <label for="optionD">Option D</label>
            <input type="text" class="form-control" id="optionD" formControlName="optionD" placeholder="Enter Option D">
            <div *ngIf="mcqForm.get('optionD').invalid && mcqForm.get('optionD').touched" class="text-danger">
              Option D is required.
            </div>
          </div>
          <div class="form-group">
            <label for="answer">Answer</label>
            <textarea 
              class="form-control" 
              id="answer" 
              formControlName="answer" 
              placeholder="Enter Answer" 
              rows="4"></textarea>
            <div *ngIf="mcqForm.get('answer').invalid && mcqForm.get('answer').touched" class="text-danger">
              Answer is required.
            </div>
          </div>
          <div class="form-group">
            <label for="marks">Marks</label>
            <input type="number" class="form-control" id="marks" formControlName="marks" placeholder="Enter Marks">
            <div *ngIf="mcqForm.get('marks').invalid && mcqForm.get('marks').touched" class="text-danger">
              Marks are required.
            </div>
          </div>
          <div class="form-group">
            <label for="mcqStatus">MCQ Status</label>
            <select class="form-select" id="mcqStatus" formControlName="mcqStatus">
              <option value="">Select Status</option>
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
            </select>
            <div *ngIf="mcqForm.get('mcqStatus').invalid && mcqForm.get('mcqStatus').touched" class="text-danger">
              MCQ Status is required.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cloud me-2 mt-2" (click)="addMcq()">Done</button>
        <button type="button" class="btn btn-fent-cloud" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div style="margin-left: 5px;" class="row d-flex">
  <h6 class="p-3 mb-2" style="border-bottom: 2px solid rgb(230, 230, 230);"><b> <span data-toggle="tooltip" title="Close"> &nbsp;</span>Add Practical Problem</b></h6>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Question</th>
          <th>Model Answer</th>
          <th>Attachment</th>
          <th>Marks</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let problem of practicalProblemDetails">
          <td>{{ problem.question }}</td>
          <td>{{ problem.modelAnswer }}</td>
          <td>{{ problem.attachment }}</td>
          <td>{{ problem.marks }}</td>
          <td>{{ problem.practicalProblemStatus }}</td>
        </tr>
      </tbody>
    </table>
    <!-- Button trigger modal for Practical Problem -->
    <div class="mb-3">
      <button type="button" class="btn btn-cloud me-2 mt-2" data-toggle="modal" data-target="#practicalProblemModal">
        <i class="uil uil-plus"></i>   Add New Practical Problem
      </button>
    </div>
  </div>
</div>

<!-- Modal for Practical Problem Details -->
<div class="modal fade" id="practicalProblemModal" tabindex="-1" role="dialog" aria-labelledby="practicalProblemModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="color: #0e0909;">
        <h5 class="modal-title" id="practicalProblemModalTitle">Add Practical Problem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="practicalProblemForm">
          <div class="form-group">
            <label for="question">Question</label>
            <input type="text" class="form-control" id="question" formControlName="question" placeholder="Enter Question">
            <div *ngIf="practicalProblemForm.get('question').invalid && practicalProblemForm.get('question').touched" class="text-danger">
              Question is required.
            </div>
          </div>
          <div class="form-group">
            <label for="modelAnswer">Model Answer</label>
            <input type="text" class="form-control" id="modelAnswer" formControlName="modelAnswer" placeholder="Enter Model Answer">
            <div *ngIf="practicalProblemForm.get('modelAnswer').invalid && practicalProblemForm.get('modelAnswer').touched" class="text-danger">
              Model Answer is required.
            </div>
          </div>
          <div class="form-group">
            <label for="attachment">Attachment</label>
            <input type="file" class="form-control" id="attachment" formControlName="attachment">
            <div *ngIf="practicalProblemForm.get('attachment').invalid && practicalProblemForm.get('attachment').touched" class="text-danger">
              Attachment is required.
            </div>
          </div>
          <div class="form-group">
            <label for="marks">Marks</label>
            <input type="number" class="form-control" id="marks" formControlName="marks" placeholder="Enter Marks">
            <div *ngIf="practicalProblemForm.get('marks').invalid && practicalProblemForm.get('marks').touched" class="text-danger">
              Marks are required.
            </div>
          </div>
          <div class="form-group">
            <label for="practicalProblemStatus">Status</label>
            <select class="form-select" id="practicalProblemStatus" formControlName="practicalProblemStatus">
              <option value="">Select Status</option>
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
            </select>
            <div *ngIf="practicalProblemForm.get('practicalProblemStatus').invalid && practicalProblemForm.get('practicalProblemStatus').touched" class="text-danger">
              Status is required.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-cloud me-2" (click)="addPracticalProblem()">Save</button>
        <button type="button" class="btn btn-fent-cloud" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
<!-- <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form> -->
      <div class="col-12 px-4 py-2 border-top buttons-container">
          <button class="btn btn-cloud me-2" type="submit">Save</button>
          <button class="btn btn-fent-cloud" type="button" (click)="onCancelClick()">Cancel</button>
      </div>
  </form>
</div>