################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Learnum.ERP.API/bin/Debug/net8.0
/Learnum.ERP.API/obj
/Learnum.ERP.API.Repository/bin/Debug/net8.0
/Learnum.ERP.API.Repository/obj
/Learnum.ERP.API.Shared/bin/Debug/net8.0
/Learnum.ERP.API.Shared/obj
/Learnum.ERP.Repository/obj/Debug/net8.0
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.csproj.AssemblyReference.cache
/Learnum.ERP.API/Controller/Masters/ClassroomDetailsController.cs
/Learnum.ERP.Shared/obj/Learnum.ERP.Shared.csproj.nuget.dgspec.json
/Learnum.ERP.Shared/obj/project.nuget.cache
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.AssemblyInfoInputs.cache
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.csproj.CoreCompileInputs.cache
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.sourcelink.json
/Learnum.ERP.Shared/obj/Learnum.ERP.Shared.csproj.nuget.g.props
/Learnum.ERP.Shared/obj/project.assets.json
/Learnum.ERP.Shared/obj/Debug/net8.0/ref/Learnum.ERP.Shared.dll
/Learnum.ERP.Shared/obj/Debug/net8.0/refint/Learnum.ERP.Shared.dll
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.pdb
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.dll
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.assets.cache
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.AssemblyInfo.cs
/Learnum.ERP.Shared/bin/Debug/net8.0/Learnum.ERP.Shared.pdb
/Learnum.ERP.Shared/bin/Debug/net8.0/Learnum.ERP.Shared.dll
/Learnum.ERP.Repository/obj/project.nuget.cache
/Learnum.ERP.Repository/obj/project.assets.json
/Learnum.ERP.Repository/obj/Learnum.ERP.Repository.csproj.nuget.g.props
/Learnum.ERP.Repository/obj/Learnum.ERP.Repository.csproj.nuget.dgspec.json
/Learnum.ERP.Repository/bin/Debug/net8.0/Learnum.ERP.Repository.dll
/Learnum.ERP.Repository/bin/Debug/net8.0/Learnum.ERP.Repository.pdb
/Learnum.ERP.Repository/bin/Debug/net8.0/Learnum.ERP.Shared.dll
/Learnum.ERP.Repository/bin/Debug/net8.0/Learnum.ERP.Shared.pdb
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.GeneratedMSBuildEditorConfig.editorconfig
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.AssemblyInfo.cs
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.AssemblyInfoInputs.cache
/Learnum.ERP.Shared/obj/Debug/net8.0/refint/Learnum.ERP.Shared.dll
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.AssemblyInfoInputs.cache
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.AssemblyInfo.cs
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.AssemblyInfo.cs
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.AssemblyInfoInputs.cache
/Learnum.ERP.API/Controller/Business Lead/AllBusinessLeadController.cs

/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.AssemblyInfo.cs
/.gitignore
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.AssemblyInfoInputs.cache
/Learnum.ERP.Shared/bin/Debug/net8.0/Learnum.ERP.Shared.dll
/Learnum.ERP.Shared/bin/Debug/net8.0/Learnum.ERP.Shared.pdb
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.dll
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.pdb
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.sourcelink.json
/Learnum.ERP.Shared/obj/Debug/net8.0/ref/Learnum.ERP.Shared.dll
/Learnum.ERP.Shared/obj/Debug/net8.0/refint/Learnum.ERP.Shared.dll
/Learnum.ERP.Repository/obj/Release/net8.0
/Learnum.ERP.Shared/obj/Release/net8.0
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.csproj.CoreCompileInputs.cache
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.csproj.FileListAbsolute.txt
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.csproj.CoreCompileInputs.cache
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.csproj.CoreCompileInputs.cache
/Learnum.ERP.Shared/obj/Debug/net8.0/Learnum.ERP.Shared.csproj.FileListAbsolute.txt
