<div class="sidebar-nav" style="padding: 28px 0px !important;">
  <nav class="navbar navbar-dark fixed-top d-inline-block" style="background:#9938a5">
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-7 mobile-nav">
              <span>
                <div>
                  <button id="CloseOnSubMenuClick" class="navbar-toggler p-0 m-2 border-0" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                    data-bs-backdrop="static" data-bs-keyboard="false">
                    <span class="navbar-toggler-icon">
                      <svg xmlns='http://www.w3.org/2000/svg' height='30' width='30'>
                        <path fill='none' stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22' />
                      </svg>
                    </span>
                  </button>
                </div>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                  <div class="offcanvas-body p-0">
                    <ul class="navbar-nav">
                      <li *ngFor="let menu of Menu">
                        <a *ngIf="!menu.submenu" [routerLink]="menu.url"
                          [ngStyle]="{'pointer-events' : ((CycleTypeId==2 || CycleTypeId==0) && menu.id == 20) || this.isDisabledForVerifyPending ? 'none':(((CycleTypeId == 1 || CycleTypeId==0) && menu.id == 5) || this.isDisabledForVerifyPending ? 'none':'') , 'color' : ((CycleTypeId==2 || CycleTypeId==0) && menu.id == 3) || this.isDisabledForVerifyPending ? 'gray':(((CycleTypeId==1 || CycleTypeId==0) && menu.id == 5) || this.isDisabledForVerifyPending ? 'gray':'')}"
                          routerLinkActive="active" (click)="onClickSingalMenu()">
                          <span class="item-text">{{menu.title}}</span>
                        </a>
                        <a *ngIf="menu.submenu" href="javascript:void(0);" data-bs-toggle="collapse"
                          [attr.data-bs-target]="'#menu-' + menu.id" aria-expanded="false" aria-controls="collapseExample"
                          (click)="toggleMenu(menu.id)">
                          <span class="item-text">{{menu.title}}</span>
                        </a>
                        <ul class="collapse list-unstyled" [attr.id]="'menu-' + menu.id">
                          <li *ngFor="let submenu of menu.submenu">
                            <a [routerLink]="submenu.url" routerLinkActive="active-menu"
                              (click)="onClickSubMenu()">{{submenu.title}}</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                  <div class="offcanvas-body p-0">
                    <ul class="navbar-nav">
                      <li *ngFor="let menu of Menu">
                        <a *ngIf="!menu.children" [routerLink]="menu.url"
                          [ngStyle]="{
                            'pointer-events': ((CycleTypeId==2 || CycleTypeId==0) && menu.id == 20) || isDisabledForVerifyPending ? 'none' :
                            (((CycleTypeId == 1 || CycleTypeId==0) && menu.id == 5) || isDisabledForVerifyPending ? 'none' : ''),
                            'color': ((CycleTypeId==2 || CycleTypeId==0) && menu.id == 3) || isDisabledForVerifyPending ? 'gray' :
                            (((CycleTypeId==1 || CycleTypeId==0) && menu.id == 5) || isDisabledForVerifyPending ? 'gray' : '')
                          }"
                          routerLinkActive="active" (click)="onClickSingalMenu()">
                          <span class="item-text">{{menu.title}}</span>
                        </a>
                        <a *ngIf="menu.children" href="javascript:void(0);" data-bs-toggle="collapse"
                          [attr.data-bs-target]="'#menu-' + menu.id" aria-expanded="false" aria-controls="collapseExample"
                          (click)="toggleMenu(menu.id)">
                          <span class="item-text">{{menu.title}}</span>
                        </a>
                        <ul class="collapse list-unstyled" [attr.id]="'menu-' + menu.id">
                          <li *ngFor="let submenu of menu.children">
                            <a [routerLink]="submenu.url" routerLinkActive="active-menu"
                              (click)="onClickSubMenu()">{{submenu.title}}</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div> -->
              </span>
              <span class="mobile-logo-view text-white ms-3" style="vertical-align: middle;">
                <h3 class="pc-logo mb-0" style="color: #fff;"><b>Learnum ERP</b></h3>
                <a class="mobile-logo">
                  <h4><b>Learnum ERP</b></h4>
                </a>
              </span>
              <span class="mobile-view">
                <button class="btn btn-icon" type="button" style="vertical-align:unset !important;"
                  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="uil uil-user align-middle" style="font-size: 28px; color: #fff;"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="transform: translate(-20px, 10px)">
                  <a class="dropdown-item" href="/poi/employee/employee-profile/"><i class="uil uil-user align-middle me-1"></i>Profile</a>
                  <a class="dropdown-item" href="/poi/dashboard"><i class="uil uil-clipboard align-middle me-1"></i>Dashboard</a>
                  <a class="dropdown-item text-dark" style="cursor: pointer" href="/poi/changePassword"><i class="uil uil-unlock-alt align-middle me-1"></i>
                    Change Password</a>
                  <!-- <a class="dropdown-item text-dark" (click)="Logout()" style="cursor: pointer"><i class="uil uil-sign-out-alt align-middle me-1"></i>
                    Logout</a> -->
                </div>
              </span>
            </div>
            <div class="col-md-3 left-content">
            </div>
            <div class="col-md-2 left-content pe-3" align="right">
              <button class="btn btn-icon" type="button" style="vertical-align:unset !important;"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="uil uil-user align-middle" style="font-size: 28px;color: #fff;"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="transform: translate(0px, 10px)">
                <a class="dropdown-item" href="/poi/employee/employee-profile/"><i class="uil uil-user align-middle me-1"></i>Profile</a>
                <a class="dropdown-item" href="/poi/dashboard"><i class="uil uil-clipboard align-middle me-1"></i>Dashboard</a>
                <a class="dropdown-item text-dark" style="cursor: pointer" href="/poi/changePassword"><i class="uil uil-unlock-alt align-middle me-1"></i>
                  Change Password</a>
                <!-- <a class="dropdown-item text-dark" (click)="Logout()" style="cursor: pointer"><i class="uil uil-sign-out-alt align-middle me-1"></i>
                  Logout</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="container-flude px-2" id="outerComponent">
  <div class="row" style="height: 91vh;">
    <div class="for-mobile-view col-md-12">
      <a type="button" *ngIf="hideLeftContent" [title]="hideLeftContent ? 'Open Content':'Close Content'"
        style="position: absolute; z-index: 10;left:5px;top:50%" (click)="hideShowLeftContent()"><i
          style="font-size: 20px;color: #29398d;" class="fa "
          [ngClass]="!hideLeftContent ? 'fa-chevron-circle-left':'fa-chevron-circle-right'"></i></a>
      <div class="clearfix ">
        <div class="tab-pane" style="display: block">
          <div class="row">
            <div class="col-sm-12">
              <div class="tab-inner">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

