
<div class="row d-flex">
    <h6 class="p-3 mb-2" style="border-bottom: 2px solid rgb(230, 230, 230);">
        <b> <span data-toggle="tooltip" title="Close">
            <i class="uil uil-multiply" style="cursor: pointer;" (click)="navigate()"></i>
            </span> 
            Add Batch </b>
      </h6>
    <div class="form-container">
        <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <formly-form [form]="form" [model]="batchDetails" [fields]="fields" [options]="options">
            </formly-form>
            <formly-form [form]="installmentForm" [model]="installmentModel" [fields]="installmentFields" [options]="installmentOptions">
            </formly-form>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form> -->
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <formly-form [form]="form" [model]="batchDetails" [fields]="fields" [options]="options">
            </formly-form>
            <formly-form [form]="installmentForm" [model]="installmentModel" [fields]="installmentFields" [options]="installmentOptions">
            </formly-form>
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
          </form>
    </div>
</div>
<div class="footer-container">
    <div class="col-12 px-4 py-2">
      <button class="btn btn-cloud me-2" (click)="onSubmit()" [disabled]="form.invalid">Save</button>
      <button class="btn btn-fent-cloud me-2" (click)="onResetClick()">Reset</button>
      <button class="btn btn-fent-cloud" (click)="onCancleClick()">Cancel</button>    </div>
  </div>


