<div style=" margin-left: 5px;" class="row d-flex">
  
  <h6 class="p-3 mb-2" style="border-bottom: 2px solid rgb(230, 230, 230);"><b> <span
    data-toggle="tooltip" title="Close"><i class="uil uil-multiply"></i> &nbsp;</span>Deductor Details</b></h6>
  
</div>

<div class="py-2">
  <div class=" px-3 pb-2 col-12 border-bottom">
    <div class="left-section ">
      <a routerLink="/tds/deductor-details/basic-info" class="tab-link" routerLinkActive="active"
        >Basic Information</a> &nbsp;&nbsp;
      <a routerLink="/tds/deductor-details/address-login" class="tab-link" routerLinkActive="active"
       >Address & Login</a> &nbsp;&nbsp;
      <a routerLink="/tds/deductor-details/responsible-person-info" class="tab-link" routerLinkActive="active"
       >Responsible Person Information</a> &nbsp;&nbsp;
       <a routerLink="/tds/deductor-details/salary-info" class="tab-link" routerLinkActive="active"
       >Salary Information</a>
    </div>
   
  </div>
  
  <router-outlet></router-outlet>
  
</div>

 