<div style="margin-left: 5px;" class="row d-flex">
  <h6 class="p-3 mb-2" style="border-bottom: 2px solid rgb(230, 230, 230);"><b> <span data-toggle="tooltip"
        title="Close"><i class="uil uil-multiply"></i> &nbsp;</span>Add College</b></h6>
  <div>
    <form id="MyForm" [formGroup]="form" (ngSubmit)="onSubmit()">
      <formly-form [model]="collegeContactDetails" [fields]="fields" [options]="options" [form]="form">
      </formly-form>
    </form>
  </div>
</div>



<!-- Contact Details -->
<div style="margin-left: 5px;" class="row d-flex">
  <h6 class="p-3 mb-2" style="border-bottom: 2px solid rgb(230, 230, 230);"><b> <span data-toggle="tooltip" title="Close"> &nbsp;</span>Contact Details</b></h6>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Job Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contactDetails">
          <td>{{ contact.name }}</td>
          <td>{{ contact.phoneNumber }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.roleId }}</td>
      </tbody>

      <!-- Button trigger modal for Contact -->
      <button type="button" class="btn btn-cloud me-2 mt-2" data-toggle="modal" data-target="#contactModal">
        <i class="uil uil-plus"></i> Add New
      </button>
    </table>
  </div>
</div>

<!-- Modal for Contact Details -->

<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalTitle" aria-hidden="true" #contactModal>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="color: #fff;">
        <h5 class="modal-title" id="contactModalTitle">Add Contact Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contactForm" (ngSubmit)="addContact()">
          <!-- Name Field -->
          <div class="form-group">
            <label for="name">Name *</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter Name" required (keypress)="validateName($event)">
            <div *ngIf="contactForm.get('name').invalid && (contactForm.get('name').dirty || contactForm.get('name').touched)" class="text-danger">
              <div *ngIf="contactForm.get('name').errors.required">Name is required.</div>
              <div *ngIf="contactForm.get('name').errors.pattern">Name can only contain letters and spaces.</div>
            </div>
          </div>

          <!-- Phone Field -->
          <div class="form-group">
            <label for="phoneNumber">Phone *</label>
            <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" placeholder="Enter phone number" maxlength="10" (keypress)="validateNumber($event)" required>
            <div *ngIf="contactForm.get('phoneNumber').invalid && (contactForm.get('phoneNumber').dirty || contactForm.get('phoneNumber').touched)" class="text-danger">
              <div *ngIf="contactForm.get('phoneNumber').errors?.required">Phone number is required.</div>
              <div *ngIf="contactForm.get('phoneNumber').errors?.pattern">Phone number must be exactly 10 digits.</div>
            </div>
          </div>

          <!-- Email Field -->
          <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Email" required>
            <div *ngIf="contactForm.get('email').invalid && (contactForm.get('email').dirty || contactForm.get('email').touched)" class="text-danger">
              <div *ngIf="contactForm.get('email').errors.required">Email is required.</div>
              <!-- <div *ngIf="contactForm.get('email').errors.email">Please enter a valid email address.</div> -->
               <div class="text-danger" *ngIf="(contactForm.get('email').touched || contactForm.get('email')|| dirty) && contactForm.get('email').errors?.['pattern']">Please enter a valid email address.</div>
            </div>
          </div>

          <!-- Job Role Field -->
          <div class="form-group">
            <label for="roleId">Job Role *</label>
            <select class="form-select" id="roleId" formControlName="roleId">
              <option value="" disabled selected>Select Job Role</option>
              <option *ngFor="let role of roleDetails" [value]="role.RoleId">{{ role.Name }}</option>
            </select>
            <div *ngIf="contactForm.get('roleId').invalid && (contactForm.get('roleId').dirty || contactForm.get('roleId').touched)" class="text-danger">
              <div *ngIf="contactForm.get('roleId').errors.required">Job role is required.</div>
            </div>
          </div>
          
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cloud "  (click)="addContact()" data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-fent-cloud" data-dismiss="modal" (click)="onCloseModal()">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Department Details -->
<div style="margin-left: 5px;" class="row d-flex">
  <h6 class="p-3 mb-2" style="border-bottom: 2px solid rgb(230, 230, 230);"><b> <span data-toggle="tooltip" title="Close"> &nbsp;</span>Department Seats</b></h6>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Seats</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let department of departmentDetails">
          <td>{{ department.courseId }}</td>
          <td>{{ department.seats }}</td>
        </tr>
      </tbody>
      <!-- Button trigger modal for Department -->
      <button type="button" class="btn btn-cloud me-2 mt-2" data-toggle="modal" data-target="#departmentModal">
        <i class="uil uil-plus"></i>  Add New
      </button>
    </table>
  </div>
</div>

<!-- Modal for Department Details -->
<div class="modal fade" id="departmentModal" tabindex="-1" role="dialog" aria-labelledby="departmentModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="color: #fff;">
        <h5 class="modal-title" id="departmentModalTitle">Department Seats</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="departmentForm">
          <div class="form-group">
            <label for="courseId">Course Name</label>
            <select class="form-select" id="courseId" formControlName="courseId">
              <option value="" disabled selected>Select Job Role</option>
              <option *ngFor="let college of collegeroleDetails" [value]="college.collegeRoleId">{{ college.Name }}</option>
            </select>
            <div *ngIf="departmentForm.get('courseId').touched && departmentForm.get('courseId').invalid" class="text-danger">
              Course name is required.
            </div>
          </div>
          <div class="form-group">
            <label for="seats">Seats</label>
            <input type="text" class="form-control" id="seats" formControlName="seats" placeholder="Enter Seats" required>
            <div *ngIf="departmentForm.get('seats').touched && departmentForm.get('seats').invalid" class="text-danger">
              <div *ngIf="departmentForm.get('seats').errors.required">Seats are required.</div>
              <div *ngIf="departmentForm.get('seats').errors.pattern">Seats must be a number.</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cloud" (click)="addDepartment()"data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-fent-cloud" data-dismiss="modal" (click)="onCloseDepartmentModal()">Close</button>
   </div>
    </div>
  </div>
</div>

<div class="form-container">
      <div class="col-12 px-4 py-2 border-top buttons-container">
          <button class="btn btn-cloud me-2" type="submit" (click)="onSubmit()" >Save</button>
          <button class="btn btn-fent-cloud" type="button" (click)="onCancelClick()">Cancel</button>
      </div>
</div>
